<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>.*foo_vis_milk2\.dll$</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*CPPUnitTestFramework.*</ModulePath>
              </Exclude>
              <IncludeDirectories>
                <Directory>path_to_foobar2000_x64\profile\user-components-x64\foo_vis_milk2</Directory>
              </IncludeDirectories>
            </ModulePaths>
            <Functions>
              <Exclude>
                <Function>^`anonymous-namespace'::CreateD3DResources.*</Function>
                <Function>^`anonymous-namespace'::CreateTextureFrom.*</Function>
                <Function>^`anonymous-namespace'::FillInitData.*</Function>
                <Function>^`anonymous-namespace'::InitializeWICFactory.*</Function>
                <Function>^`anonymous-namespace'::SetDebugTextureInfo.*</Function>
                <Function>^`anonymous-namespace'::WIC.*</Function>
                <Function>^DirectX::.*</Function>
              </Exclude>
            </Functions>
            <Sources>
              <Exclude>
                <Source>.*\\external\\.*</Source>
                <Source>.*\\CommonStates.cpp$</Source>
                <Source>.*\\DemandCreate.h$</Source>
                <Source>.*\\DirectXHelpers.h$</Source>
                <Source>.*\\SharedResourcePool.h$</Source>
                <Source>.*\\PlatformHelpers.h$</Source>
                <Source>.*\\DDSTextureLoader.cpp$</Source>
                <Source>.*\\DDSTextureLoader.h$</Source>
                <Source>.*\\WICTextureLoader.cpp$</Source>
                <Source>.*\\WICTextureLoader.h$</Source>
              </Exclude>
            </Sources>
            <SymbolSearchPaths>
              <Path>path_to_foo_vis_milk2_repo\Bin\x64\Debug</Path>
              <Path>path_to_foo_vis_milk2_repo\data\public\2.1.5-x64</Path>
            </SymbolSearchPaths>
            <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
            <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
            <CollectFromChildProcesses>True</CollectFromChildProcesses>
            <CollectAspDotNet>False</CollectAspDotNet>
            <EnableStaticNativeInstrumentation>True</EnableStaticNativeInstrumentation>
            <EnableDynamicNativeInstrumentation>True</EnableDynamicNativeInstrumentation>
            <EnableStaticNativeInstrumentationRestore>True</EnableStaticNativeInstrumentationRestore>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>